<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sección de rescate animal</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="img/Libro3.png">
  <title>informacion - Tu Mascotita</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/infoPublica.css">
  <script src="js/api.js"></script>

</head>

<body>
  <!-- Page Loader -->

  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>
  <!-- Navbar -->

  <header class="TOP">
    <a class="logo" href="index.html">
      <img src="img/Libro3.png" alt="Logo" style="width:100%px; height: 40px;">
    </a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>
    <nav class="navbar">
      <div>
        <a href="login.html">Iniciar Sesión</a>
        <a href="contacto.html">Contacto</a>
        <a href="productos.html">Productos</a>
      </div>
    </nav>
  </header>










  <!-- INTRO -->


  <section id="parrafo" class="w-60 mx-auto text-center pt-5" id="intro">
    <h1 class="p-3 fs-2 border-top border-3">
      <span class=" siu text-light">Agencia de noticias de Oakland, preocupada y enfocada por el medio ambiente y los
        animales
        que habitan.</span>
    </h1>
    <p class="p-3 fs-4">
      <span class="text-light">
        Tu mascota se merece los mejores cuidados. Sea un perro, un gato u otro animal doméstico, tiene necesidades
        esenciales que deben ser suplidas para que viva plenamente.

        ¿Crees que le provees a tu mascota todo lo que requiere? ¡Seguramente sí! No obstante, nunca está de más
        recordar algunas de tus responsabilidades como amo y precauciones que debes tener en pro de su bienestar y el de
        toda la familia.
      </span>
    </p>


  </section>
  <!-- PREPARANDO EL IMPORT -->
  <section id="informacion" class="container-fluid">
    <div class="row w-75 mx-auto my-5 servicio-fila">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="img/mision.jpg" alt="ejemplo" width="180" height="160">
        <div>
          <h3 class="fs-5 mt-4 px-4 pb-1 bg-success">MISION DE PATITAS
          </h3>
          <p class="px-4 text-light">Contribuimos a crear un mundo mejor, ayudando a amar y proteger a sus mascotas.
            Basados en
            nuestro equipo de trabajo somos solidarios socialmente, brindando la mayor cantidad de trabajo posible,
            innovando constantemente y logrando un prestigio que nos haga perdurar en el tiempo. Invirtiendo e innovando
            en proyectos para ampliar la estructura y seguir creciendo en otras ciudades. Aportando y participando
            solidariamente para crear una comunidad inclusiva y el cuidado del medio ambiente.
          </p>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="img/vision.jpg" alt="ejemplo" width="180" height="160">
        <div>
          <h3 class="fs-5 mt-4 px-4 pb-1 bg-success">VISION DE PATITAS
          </h3>
          <p class="px-4 text-light">Ser una empresa moderna y sólida, líder en el país y con proyección
            internacional. Liderada
            por un equipo con acceso a la más alta calidad de capacitación y con una mirada colaborativa e inclusiva
          </p>
        </div>
      </div>
    </div>
    <div class="row w-75 mx-auto my-5 servicio-fila">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="img/logros.jpg" alt="ejemplo" width="180" height="160">
        <div>
          <h3 class="fs-5 mt-4 px-4 pb-1 bg-success">LOGROS DE PATITAS
          </h3>
          <p class="px-4 text-light">En "Patitas" salimos a la calle a buscar animales en situación de calle, con
            necesidades y los
            ayudamos con cooperaciones, comidas, accesorios, etc.., todo para que los animales no sufran y puedan llevar
            adelante las situaciones de frío y necesidad.
          </p>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="img/nuestro icono.jpg" alt="ejemplo" width="180" height="160">
        <div>
          <h3 class="fs-5 mt-4 px-4 pb-1 bg-success">SECCION COMUNIDAD
          </h3>
          <p class="px-4 text-light">Entra a la "Comunidad patitas" para ayudar a los cientos de animales que
            necesitan de tu ayuda
            y la nuestra.
          </p>
        </div>
      </div>
    </div>

  </section>



  </section>
  
  <!-- Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


  <script src="js/Loader.js"></script>
  <script>
    $(window).on("load", function () {
      $('body').addClass('loaded');
    });
  </script>
</body>

</html>