
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #06acac;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #018ac0;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffffff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: var(--verde);
        z-index: 1001;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --verde: #018ac0;
    --blanco: #FFFFFF;
    --degradado: linear-gradient(90deg, var(--verde), var(--blanco));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: white;
}

html{
    font-size: 62.5%;
    overflow: scroll;
}


.TOP{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #1792b1, #074a64);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);   
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.TOP .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: #00f0f0;
}

.TOP .navbar a:hover{
    color: #38ffff
}

.TOP input{
    display: none;
}
.TOP label{
    font-size: 3rem;
    color: #FFFFFF;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;   
}



h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}



.carrito {
    filter: invert(100%);
    width: 45px;
    height: auto;
}

.pushbar{
    width: 365px;
    font-size: 18px;
    font-weight: 300;
    padding: 2rem ;
}

.pushbar .btn_cerrar {
    text-align: left;
}

.pushbar .btn_cerrar button{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 4rem;
}

.pushbar .titulo{
    font-size: 22px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(112,112, 112, .60);
    margin-bottom: 20px;
}

.pushbar .item{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(112,112, 112, .60);
}
.pushbar .item img{
    width: 100%;
    max-width: 80px;
}

.pushbar .textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.pushbar .textos .nombre-item{
    color: #aaaaaa;
}

.pushbar .total{
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
}


.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    min-height: 100vh;
    padding: 0 5%;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.contenedor>div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(135deg, #1792b1, #074a64);
    border-radius: 20px;
}

.contenedor>div:hover {
    background: linear-gradient(135deg, #074a64, #1792b1);

}

.contenedor img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    
}

.informacion .precio {
    font-size: 17px;
    font-weight: 500;
}


.informacion button {
    background: linear-gradient(135deg, #1792b1, #196c8d, #1792b1);;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.informacion button:hover {
    background: #054d5f;
}


@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    .TOP label{
        visibility: visible;
        opacity: 1;
    }

    .TOP .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #FFFFFF;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);   
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;    
        transition: .2s linear;

    }

    .TOP .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    .TOP input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    .TOP input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 1.5rem;
    }

}
@media(max-width:450px){
    html{
        font-size: 49%;
    }
}
